@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e9f0ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #dddddd;
}

@layer theme {
  :root, :host {
    @variant dark {
      --color-primary: #000000;
    }
  }
}

:root {
    @variant dark {
      background-color: #030712;
    }
  }
